body {
	font-family: sans-serif;
	background: #eee;
}

#map-canvas {
width: 70%;
height: 500px;
float: left;
}

input, select, textarea {
display: block;
color: grey;
border: 1px solid lightsteelblue;
line-height: 15px;
margin: 2px 6px 16px 0px;
width: 100%;
}

textarea{
	height: 100px;
}
input[type="submit"] {
padding: 5px 10px 5px 10px;
color: black;
background: lightsteelblue;
border: none;
box-shadow: 1px 1px 1px #4C6E91;
}

#issue_count{
	font-size: 50px;
	
}

input[type="submit"]:hover {
background: steelblue;
}

#map-canvas {
display: block;

width: 70%;
height: 500px;
float: left;
}

#community_issues {
float: right;
width: 25%;
padding: 0px 2.5% 0px 0px;
}
