<!DOCTYPE html>
<html>
	<head>
		<title>Community Problems</title>
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js
		?key={{MAPS_KEY}}"></script>
		<script type="text/javascript">
			var map;
			var marker;
			function initialize() {
				
				var mapOptions = {
				center: new google.maps.LatLng({{lat}}, {{long}}),
				zoom: 15
				};
				map = new
				google.maps.Map(document.getElementById("map-canvas"),mapOptions);
				google.maps.event.addListener(map, 'click',
				function(event){
					placeMarker(event.latLng);
				});
				
				function placeMarker(location) {
					if(marker){
						marker.setPosition(location);
					} else{
					marker = new google.maps.Marker({
						position: location,
						map: map,
						title: 'Crime spot!',
					});

					}
					document.getElementById('latitude').value = location.lat();
					document.getElementById('longitude').value = location.lng();	
				}

				function placeCrimes(crimes) {
						for (i=0; i<crimes.length; i++) {
							crime = new google.maps.Marker( {
							position: new google.maps.LatLng(crimes[i].latitude, crimes[i].
							longitude),
							map: map,
							title: crimes[i].date + "\n" + crimes[i].category + "\n" + crimes[i].description
							});
						}
						}
				placeCrimes({{data | safe}});

	}
		</script>
	</head>
	<body onload="initialize()">
	<div id="title_instructions">
	<h1 >Highlight Problems Around You</h1>
		<p>The goal of this website is to allow citizens to register their concerns and the relevant government bodies to take action.  It is high time that the government should rely on data to get its priorities straight and a platform for the public to raise their voices!</p>
	</div>
	<div id="score">
		<div id="label_count">
			<div id="label_count"><h3>Number of issues submitted so far: </h3> </div>  
		</div>
		<div id="issue_count"><b>{{count}}</b></div>
	</div>

		<div id="input_collection_block">
			<div id="map-canvas"></div>
			<div id="community_issues">
				<h3>Submit your observations</h3>
				{% if error_message %}
					<div id="error"><p>{{error_message}}</p></div>
				{% endif %}
				<form action="/submit_issue" method="POST">
					<label for="Category">Category</label>
					<select name="category" id="category">
						{% for i in categories %}
							<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</select>
					<label for="date">Date</label>
					<input name="date" id="date" type="date">
					<label for="latitude">Latitude</label>
					<input name="latitude" id="latitude" type="text" readonly>
					<label for="longitude">Longitude</label>
					<input name="longitude" id="longitude" type="text" readonly>
					<label for="description">Description</label>
					<textarea name="description" id="description" placeholder="A briefly describe problems around you!"></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</body>
</html>
